# Python
__pycache__/
*.pyc
*.py[codz]
*$py.class
*.so

# Virtual environments
.venv/
.env

# macOS
.DS_Store

# XFOIL temporary files
polar_*.txt
*.bl

# Generated/raw data
data/raw/
data/processed/

# Model artifacts
models/

# Weights & Biases logs
wandb/

# Packaging/build outputs
build/
dist/
*.egg-info/
.eggs/

# Accidental weird file
=
